/* Shop.css */
.ItemContainer {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.ItemColumn {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.Item {
  background-color: #fff;
  border-radius: 8px;
  width: 75%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.Item:hover {
  transform: translateY(-5px);
}

.Item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}
/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .ItemContainer {
    grid-template-columns: 1fr; /* Change grid to single column on mobile */
  }
}
